<!--
// Pomidoro Mobile Application
// TheatersControllerView.html
//
// created by @sauliuz
// PopularOwl Labs // www.popularowl.com
// Visit www.htmlcenter.com
// for more mobile application templates
-->
<header class="bar-title">
  
  
  <h1 class="title"> MovieApp</h1>
</header>
<nav class="bar-standard bar-header-secondary">
  <h1 class="title">Login</h1>
</nav>
<nav class="bar-tab">
  <ul class="tab-inner">
    <li class="tab-item">
      <a href="#/signup">
        <img class="tab-icon" src="img/icon-settings.png">
        <div class="tab-label">Sign Up</div>
      </a>
    </li>
  </ul>
</nav>
<div class="content">
  <span>{{data1}}</span>
  <form method="post" id="form" name="myForm" novalidate >
    <input type="email" placeholder="Please Enter Email ID" id="email" name="email" ng-model="emailaddress" required>
    <span class="error" ng-show="myForm.email.$dirty && myForm.email.$invalid">
      <span class="error" ng-show="myForm.email.$error.required">Email is required.</span>
      <span ng-show="myForm.email.$error.email">Invalid email address.</span></span>
      
      <input type="password" placeholder="Please Enter Password" id="password" name="password" ng-model="password" required>
      <span class="error" ng-show="myForm.password.$dirty && myForm.password.$invalid">
        <span class="error" ng-show="myForm.password.$error.required">password is required.</span></span>
        <button class="btn btn-positive btn-block" ng-click="Login()" ng-disabled="myForm.user.$dirty && myForm.password.$invalid ||
        myForm.email.$dirty && myForm.email.$invalid">Login</button>
      </form>
      <button class="btn btn-link"><a href="#/signup">Not yet registered ? Sign Up</a></button>
    </div>