<!--
// Pomidoro Mobile Application
// show movie.html
//
// created by @sauliuz
// PopularOwl Labs // www.popularowl.com
// Visit www.htmlcenter.com
// for more mobile application templates
-->
<header class="bar-title">
  <a class="button-prev" href="#/Root">
    Back
  </a>
  <h1 class="title">Setting</h1>
</header>
<nav class="bar-standard bar-header-secondary">
  <form>
  </form>
</nav>
<nav class="bar-tab">
  <ul class="tab-inner">
    <li class="tab-item active">
      <a href="#/">
        <img class="tab-icon" src="img/icon-home.png">
        <div class="tab-label">Movies</div>
      </a>
    </li>
  </ul>
</nav>
<div class="content">
 <p ng-class="{changeColor: Color, changeSize: Size, italic: Italic}">Changes Will be Seen in Me</p>
    <input type="checkbox" ng-model="Color"> Change Color (apply "changeColor" class)<br>
    <input type="checkbox" ng-model="Size"> Change Size (apply "changeSize" class)<br>
    <input type="checkbox" ng-model="Italic"> Make it Italic (apply "italic" class)

    <div class="textarea" ng-model="" hallo>

    <button class="btn btn-positive btn-block" ng-click="settingapply()">Apply</button>
  
  
</div>
</div>
</div>