<!--
// Pomidoro Mobile Application
// show movie.html
//
// created by @sauliuz
// PopularOwl Labs // www.popularowl.com
// Visit www.htmlcenter.com 
// for more mobile application templates
-->

  <header class="bar-title">
   <a class="button-prev" href="#/Root">
      Back
    </a>
    <h1 class="title">Movie Detail</h1>
  </header>
  <nav class="bar-standard bar-header-secondary">
    <form>
    </form>
  </nav>

  <nav class="bar-tab">
    <ul class="tab-inner">
      <li class="tab-item active">
        <a href="#/">
          <img class="tab-icon" src="img/icon-home.png">
          <div class="tab-label">Movies</div>
        </a>
      </li>
     
      <li class="tab-item">
        <a href="#/Setting">
          <img class="tab-icon" src="img/icon-settings.png">
          <div class="tab-label">Setting</div>
        </a>
      </li>
      <li class="tab-item">
        <a href="#/">
          <img class="tab-icon" src="img/logout.png">
          <div class="tab-label">Logout</div>
        </a>
      </li>
    </ul>
  </nav>

<div class="content">
<ul class="list">
     <li class="table-view-cell media">
            <img class="media-object pull-left" src="{{movie.posters.original}}" style=" border: 2px solid #888;height: 200px;box-shadow: 5px 6px 9px #777;height: 200px;">
      </li>
</ul>            
 <div class="card">
               <ul class="table-view">
               <li class="table-view-cell">
            <a class="push-right" href="#" data-transition="slide-in">
              <strong> Title : {{movie.title}}</strong>
            </a>
          </li>
               <li class="table-view-cell">
            <a class="push-right" href="#" data-transition="slide-in">
              <strong>Runtime : {{movie.runtime}}</strong>
            </a>
          </li>
             
               <li class="table-view-cell">
            <a class="push-right" href="#" data-transition="slide-in">
              <strong>Year : {{movie.release_dates.theater}}</strong>
            </a>
          </li>
               <li class="table-view-cell">
            <a class="push-right" href="#" data-transition="slide-in">
              <strong>Year : {{movie.release_dates.dvd}}</strong>
            </a>
          </li>
              
               <li class="table-view-cell">
            <a class="push-right" href="#" data-transition="slide-in">
              <strong>Year : {{movie.ratings.critics_rating}}</strong>
            </a>
          </li>
               <li class="table-view-cell">
            <a class="push-right" href="#" data-transition="slide-in">
              <strong>Year : {{movie.ratings.critics_score}}</strong>
            </a>
          </li>
               <li class="table-view-cell">
            <a class="push-right" href="#" data-transition="slide-in">
              <strong>Year : {{movie.ratings.audience_rating}}</strong>
            </a>
          </li>
               <li class="table-view-cell">
            <a class="push-right" href="#" data-transition="slide-in">
              <strong>Year : {{movie.ratings.audience_score}}</strong>
            </a>
          </li>
               <li class="table-view-cell">
            <a class="push-right" href="#" data-transition="slide-in">
              <strong>Year : {{movie.year}}</strong>
            </a>
          </li>
               <li class="table-view-cell">
            <a class="push-right" href="#" data-transition="slide-in">
              <strong>Year : {{movie.year}}</strong>
            </a>
          </li>
              </ul>
            </div>
   
   </div>
</div>
</div> 



