<!--
// Pomidoro Mobile Application
// RootControllerView.html
//
// created by @sauliuz
// PopularOwl Labs // www.popularowl.com
// Visit www.htmlcenter.com
// for more mobile application templates
-->
<header class="bar-title">
  <h1 class="title">Demo App</h1>
</header>
<nav class="bar-standard bar-header-secondary">
  <form>
    <input type="Search" placeholder="Search" ng-model="searchText">
  </form>
</nav>
<nav class="bar-tab">
  <ul class="tab-inner">
    <li class="tab-item active">
      <a href="#/Addcustomer">
        <div class="tab-label">Add New Customer</div>
      </a>
    </li>
  </ul>
</nav>
<div class="content">

  <div style=" padding: 13px;">
    <form name="myForm" novalidate ng-controller="validateCtrl">
      <p>Customer Name :<br/>
      <input type="text" name="name" ng-model="name" required />
      <span class="error" ng-show="myForm.name.$dirty && myForm.name.$invalid">
        <span ng-show="myForm.name.$error.required">Username is required.</span>
      </span>
      </p>
      <br/>
      <p>Email:<br>
        <input type="email" name="email" ng-model="email" required>
        <span class="error" ng-show="myForm.email.$dirty && myForm.email.$invalid">
          <span ng-show="myForm.email.$error.required">Email is required.</span>
          <span ng-show="myForm.email.$error.email">Invalid email address.</span>
        </span>
      </p>
      <br/>
      <p>
      Customer City :<br/>
      <input type="text" name="city" ng-model="city" required />
      </p>
      <br/>
      <br/>
      <button class="btn btn-primary" ng-click="Addcustomer()">ADD CUSTOMER</button>
    </form>
  </div>
  <ul class="list">
    <li class="list-divider">All Customers</li>
    <li data-ng-repeat="cust in customers | filter:searchText" class="table-view-cell media">
      <div class="media-body" style="line-height:3;">
        <h5>Name : {{cust.name}}</h5>
        <h5>City : {{cust.city}}</h5>
      </div>
    </li>
  </ul>
</div>