/*
Pomidoro App
app.css

created by @sauliuz
PopularOwl Labs // www.popularowl.com
For tutorial on www.htmlcenter.com
*/


.slider {
  margin-bottom: 0;
  height: 150px;
}

.slider li img {
  width: 100%;
}

.form-wrapper {
  padding: 10px;
}


.movieimg {
  width: 365px;
  height: 282px;
}

ul.list div:first-child {
  text-align: center;
  background: #5BCB48;
  padding: 10px;
  font-weight: bold;
  box-shadow: 1px 2px 5px #777;
  margin: 10px;
 }

 .changeColor {
              color:blue;
        }
        .changeSize {
                font-size:30px;
        }
        .italic {
                font-style:italic;
        }